

<body>

    <div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'>
            <span>

                <img src="https://sn3301files.storage.live.com/y4mXhj9tOxarKnwARMVm71YVKIaCsCAbVqV4oVX41YIj0Z94j97eSJDGRCtxXaoRgBobRjd3I6UKBkosdypoKbDEJK9uwsu6DXX-8htb613M16eS6P39d5RY-hESfIRxDCL4wiAckJzadBMNub7ym_gZTmMDMjMVO2kYTNU56eb43s_9JtxVeeeDGkyE7C0BgKL?width=2104&height=105&cropmode=none" width="2104" height="105" />            </span>
        </p>

        <p class=MsoNormal align=center style='text-align:center'><o:p>&nbsp;</o:p></p>

        <h1 align=center style='text-align:center'>
            Welcome to the Microsoft FSI Power BI Embedded Demo site<o:p></o:p>
        </h1>

        <p class=MsoNormal align=center style='text-align:center'><o:p>&nbsp;</o:p></p>

        <p class=MsoNormal align=center style='text-align:center'>
            Click on <b>Demo</b> above to get started
        </p>

        <p class=MsoNormal align=center style='text-align:center'
            <span>
                <img src="https://sn3301files.storage.live.com/y4mtJshnbJOXInb345nJ0c5uiCiD3sElgAHeW2q_Yz6O3fyk-A-8q3TbyxPO0QERCpfaTwCe4MOiHjXYpgVd7YgmCbI3Dq-MHLts2J97baFPLSGrQKIcjKrfv95ieOpURsALGK1bStPvf5zFnyco4X7pbPwQW871-GPDtajQcjroa2-yrY-U3jE_ux62X2m9DSc?width=235&height=123&cropmode=none" width="470" height="246" />
            </span>
        </p>

    </div>

</body>


